<launch>
    <arg name="robot" default="bd1"/>
    <arg name="paused" default="false"/>
        
    <!-- VEL or TRAJ or EFF-->
    <arg name="servo_control" default="VEL"/>
    
        
    <rosparam if="$(eval servo_control == 'TRAJ')" file="$(find bd1_description)/config/bd1_control_traj_gazebo.yaml" command="load" subst_value="true"/>            
    
    <rosparam if="$(eval servo_control == 'VEL')" file="$(find bd1_description)/config/bd1_control_vel_gazebo.yaml" command="load" subst_value="true"/>
    
    <rosparam if="$(eval servo_control == 'EFF')" file="$(find bd1_description)/config/bd1_control_eff_gazebo.yaml" command="load" subst_value="true"/>            
    
    <include file="$(find bd1_config)/launch/bd1_software.launch">
        <arg name="robot" value="$(arg robot)"/>     
        <arg name="servo_control" value="$(arg servo_control)"/>
    </include>            
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
    args="-param robot_description -urdf -z 0.1 -x 0 -y 0 -Y 0 -model $(arg robot)" />        
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="false"/>
        <arg name="headless" value="false"/>
    </include>                                    
    
    <node if="$(eval servo_control == 'VEL')" name="manual_control" pkg="bd1_manual_control" type="manual_control_vel.py"/>
    
    <node if="$(eval servo_control == 'EFF')" name="manual_control" pkg="bd1_manual_control" type="manual_control_eff.py"/>
    
    <!--<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>-->        
    
    <node name="com_cop_publisher" pkg="bd1_gazebo_utils" type="gazebo_com_cop.py" output="screen">
        <param name="robot_name" value="bd1" />
    </node>    
    
    <node name="gazebo_tf_publisher" pkg="bd1_gazebo_utils" type="gazebo_tf_publisher.py" output="screen">        
    </node>    
    
    <node name="contacts_handler" pkg="bd1_gazebo_utils" type="contacts_handler_node" output="screen"/>
        
    <include file="$(find bd1_config)/launch/bd1_train_sb3.launch">
        <arg name="servo_control" value="$(arg servo_control)"/>
    </include>
    
</launch>
    

