<launch>
    <arg name="robot" default="bd1"/>        
    <arg name="servo_control" default="VEL"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bd1_description)/urdf/bd1.xacro' servo_control:=$(arg servo_control)"/>                            
    
    <node if="$(eval servo_control == 'TRAJ')" name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" 
        args="right_leg_servo_states_controller left_leg_servo_states_controller  head_servo_state_controller joint_state_controller" />
    
    <node if="$(eval servo_control == 'VEL')" name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" 
        args="head_servo_velocity_controller neck_servo_velocity_controller hip_r_servo_velocity_controller knee_r_servo_velocity_controller foot_r_servo_velocity_controller hip_l_servo_velocity_controller knee_l_servo_velocity_controller foot_l_servo_velocity_controller joint_state_controller" />
    
    <node if="$(eval servo_control == 'EFF')" name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" 
        args="head_servo_effort_controller neck_servo_effort_controller hip_r_servo_effort_controller knee_r_servo_effort_controller foot_r_servo_effort_controller hip_l_servo_effort_controller knee_l_servo_effort_controller foot_l_servo_effort_controller joint_state_controller" />
        
    <node if="$(eval servo_control == 'TRAJ')" name="basic_moves" pkg="bd1_simple_moves" type="basic_moves.py" output="screen"/>
    
    <!--<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>-->
    <!--<node name="rqt_service_caller" pkg="rqt_service_caller" type="rqt_service_caller"/>-->
    
    <!--<node name="universal_gazebo_environment_inteface" pkg="bd1_gazebo_env_interface" type="universal_gazebo_environment_inteface.py" output="screen" required="true">
        <param name="servo_control" value="$(arg servo_control)"/>
        <param name="max_servo_vel" value="2"/>
        <param name="max_servo_eff" value="30"/>
        <param name="start_state" value="DEPLOY2"/>
    </node>-->
    
    <node name="goal_gazebo_environment_inteface" pkg="bd1_gazebo_env_interface" type="goal_gazebo_environment_inteface.py" output="screen" required="true">
        <param name="servo_control" value="$(arg servo_control)"/>
        <param name="max_servo_vel" value="2"/>
        <param name="max_servo_eff" value="30"/>
        <param name="start_state" value="DEPLOY2"/>
    </node>
        
    
</launch>
