<launch>
    <arg name="robot" default="bd1"/>        
    <arg name="servo_control" default="VEL"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bd1_description)/urdf/bd1.xacro'"/>                            
    
    <node if="$(eval servo_control == 'TRAJ')" name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" 
        args="right_leg_servo_states_controller left_leg_servo_states_controller  head_servo_state_controller joint_state_controller" />
    
    <node if="$(eval servo_control == 'VEL')" name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" 
        args="head_servo_velocity_controller neck_servo_velocity_controller leg_up_r_servo_velocity_controller leg_mid_r_servo_velocity_controller feet_r_servo_velocity_controller leg_up_l_servo_velocity_controller leg_mid_l_servo_velocity_controller feet_l_servo_velocity_controller joint_state_controller" />
        
    <node if="$(eval servo_control == 'TRAJ')" name="basic_moves" pkg="bd1_simple_moves" type="basic_moves.py" output="screen"/>
    
    <!--<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>-->
    <node name="rqt_service_caller" pkg="rqt_service_caller" type="rqt_service_caller"/>
    
    <!--<node name="bd1_rviz_gazebo" pkg="rviz" type="rviz" args="-d $(find bd1_config)/rviz/default.rviz"/>-->
    
</launch>
