<launch>
    <arg name="robot" default="bd1"/>
    <arg name="paused" default="false"/>
    
    
    <!-- VEL or TRAJ-->
    <arg name="servo_control" default="VEL"/>
        
    <rosparam if="$(eval servo_control == 'TRAJ')" file="$(find bd1_description)/config/bd1_control_traj_gazebo.yaml" command="load" subst_value="true"/>            
    
    <rosparam if="$(eval servo_control == 'VEL')" file="$(find bd1_description)/config/bd1_control_vel_gazebo.yaml" command="load" subst_value="true"/>            
    
    <include file="$(find bd1_config)/launch/bd1_software.launch">
        <arg name="robot" value="$(arg robot)"/>     
        <arg name="servo_control" value="$(arg servo_control)"/>
    </include>            
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
    args="-param robot_description -urdf -z 0.1 -x 0 -y 0 -Y 0 -model $(arg robot)" />        
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>                        
    
    <node name="simple_standup_interface" pkg="bd1_gazebo_env_interface" type="simple_standup_gazebo_environment_inteface.py" output="screen">

    </node>
    
    <node name="standup_train" pkg="bd1_train" type="standup_train_ppo.py" output="screen">
        <param name="episode_duration_sec" value="0.1"/>                        
        
        <param name="save_path" value="$(find bd1_train)/models/PPO/simple_standup/default"/>  
        <!--<param name="load_path" value="$(find bd1_train)/models/PPO/simple_standup/default/fully_trained"/>-->
        <!--<param name="num_episodes" value="0"/>   -->
        <param name="num_episodes" value="1000"/>   
                        
    </node>
    
    <!--<node name="environment_interface_standup" pkg="bd1_environment_interface" type="env_iface_standup.py" output="screen">
        <param name="target_x" value="0.0"/>
        <param name="target_y" value="0.0"/>
        <param name="target_z" value="0.34"/>
    </node>
    
    <node name="standup_train" pkg="bd1_train" type="standup_train.py" output="screen">
        <param name="episode_duration_sec" value="0.05"/>
        <param name="memcap_replase_buffer_size" value="10000"/>
        <param name="var_control_extrapolation" value="1"/>                
        <param name="batch_size" value="512"/>
        <param name="max_steps" value="150"/>
        
        <param name="save_path" value="$(find bd1_train)/models"/>        
        <param name="load_pathNO" value="$(find bd1_train)/models/1000"/>
        <param name="episode_backup_num" value="250"/>
        
    </node>-->
    
    <node name="fall_detector" pkg="bd1_fall_detector" type="fall_detector_contacts" output="screen"/>
    
</launch>
    

