<launch>
    <arg name="robot" default="bd1"/>        
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="True"/>
    </node>-->
        
    <node name="test_servos" pkg="bd1_simple_moves" type="test_moves.py" output="screen"/>
    
</launch>
