<launch>
    <arg name="robot" default="bd1"/>
    <arg name="paused" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bd1_description)/urdf/bd1.xacro'" />  


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
    args="-param robot_description -urdf -z 0.2 -x 1 -y 0 -Y 0 -model $(arg robot)" />

    <node name="gazebo_center_of_mass" pkg="gazebo_center_of_mass" type="gazebo_center_of_mass.py" output="screen">
        <param name="robot_name" value="bd1" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_center_of_mass)/urdf.rviz" required="true" />
    
</launch>
