<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:property name="legs_baseline" value="0.12"/>
    
    <xacro:property name="up_leg_aprox_x" value="0.24"/>
    <xacro:property name="up_leg_aprox_y" value="0.04"/>
    <xacro:property name="up_leg_aprox_z" value="0.12"/>
    <xacro:property name="up_leg_mass" value="0.25"/>
    
    <xacro:property name="mid_leg_aprox_x" value="0.22"/>
    <xacro:property name="mid_leg_aprox_y" value="0.02"/>
    <xacro:property name="mid_leg_aprox_z" value="0.08"/>
    <xacro:property name="mid_leg_mass" value="0.25"/>
    
    <xacro:property name="feet_aprox_x" value="0.25"/>
    <xacro:property name="feet_aprox_y" value="0.06"/>
    <xacro:property name="feet_aprox_z" value="0.025"/>
    <xacro:property name="feet_mass" value="0.25"/>
    
    <xacro:macro name="bd1_leg" params="side y_mul">
        
        <!--
        UP
        -->
        <link name="up_leg_${side}_link">
            <visual>            
                <geometry>
                    <mesh filename="file://$(find bd1_description)/mesh/up_leg_${side}_m.dae"/>                
                </geometry>
                <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
            </visual>
            
            <collision>
                <origin xyz="0.065 ${y_mul*0.03} 0.0" rpy=" 0 0 0"/>
                <geometry>                
                    <box size="${up_leg_aprox_x} ${up_leg_aprox_y} ${up_leg_aprox_z}"/>
                </geometry>
            </collision>
            
            <inertial>
                <mass value="${up_leg_mass}"/>
                <inertia
                    ixx="${0.08*up_leg_mass*(up_leg_aprox_y*up_leg_aprox_y+up_leg_aprox_z*up_leg_aprox_z)}" ixy="0" ixz="0"
                    iyy="${0.08*up_leg_mass*(up_leg_aprox_x*up_leg_aprox_x+up_leg_aprox_z*up_leg_aprox_z)}" iyz="0"
                    izz="${0.08*up_leg_mass*(up_leg_aprox_y*up_leg_aprox_y+up_leg_aprox_x*up_leg_aprox_x)}"
                />
            </inertial>
        </link>

        <joint name="up_leg_${side}_j" type="fixed">
            <parent link="body_link"/>
            <child link="up_leg_${side}_link"/>
            
            <origin xyz="0 ${y_mul*legs_baseline/2} 0" rpy="0 ${pi/2} 0"/>
        </joint>
        
        <!--
        MID
        -->
        <link name="mid_leg_${side}_link">
            <visual>            
                <geometry>
                    <mesh filename="file://$(find bd1_description)/mesh/mid_leg_${side}_m.dae"/>                
                </geometry>
                <material name="white">
                    <color rgba="1 1 1 1"/>
                </material>
            </visual>
            
            <collision>
                <origin xyz="0.07 ${-y_mul*0.01} 0.0" rpy=" 0 0 0"/>
                <geometry>                
                    <box size="${mid_leg_aprox_x} ${mid_leg_aprox_y} ${mid_leg_aprox_z}"/>
                </geometry>
            </collision>
            
            <inertial>
                <mass value="${mid_leg_mass}"/>                
                <inertia
                    ixx="${0.08*mid_leg_mass*(mid_leg_aprox_y*mid_leg_aprox_y+mid_leg_aprox_z*mid_leg_aprox_z)}" ixy="0" ixz="0"
                    iyy="${0.08*mid_leg_mass*(mid_leg_aprox_x*mid_leg_aprox_x+mid_leg_aprox_z*mid_leg_aprox_z)}" iyz="0"
                    izz="${0.08*mid_leg_mass*(mid_leg_aprox_y*mid_leg_aprox_y+mid_leg_aprox_x*mid_leg_aprox_x)}"
                />
            </inertial>
        </link>

        <joint name="mid_leg_${side}_j" type="fixed">
            <parent link="up_leg_${side}_link"/>
            <child link="mid_leg_${side}_link"/>
            
            <origin xyz="0.15 ${y_mul*0.009} 0" rpy="0 0 0"/>
        </joint>
        
        <!--
        FEET
        -->
        
        <link name="feet_${side}_link">
            <visual>            
                <geometry>
                    <mesh filename="file://$(find bd1_description)/mesh/feet_m.dae"/>                
                </geometry>
                <material name="white">
                    <color rgba="1 1 1 1"/>
                </material>
            </visual>
            
            <collision>
                <origin xyz="0.02 ${-y_mul*0.0} -0.065" rpy=" 0 0 0"/>
                <geometry>                
                    <box size="${feet_aprox_x} ${feet_aprox_y} ${feet_aprox_z}"/>
                </geometry>
            </collision>
            
            <inertial>
                <mass value="${feet_mass}"/>                
                <inertia
                    ixx="${0.08*feet_mass*(feet_aprox_y*feet_aprox_y+feet_aprox_z*feet_aprox_z)}" ixy="0" ixz="0"
                    iyy="${0.08*feet_mass*(feet_aprox_x*feet_aprox_x+feet_aprox_z*feet_aprox_z)}" iyz="0"
                    izz="${0.08*feet_mass*(feet_aprox_y*feet_aprox_y+feet_aprox_x*feet_aprox_x)}"
                />
            </inertial>
        </link>

        <joint name="feet_${side}_j" type="fixed">
            <parent link="mid_leg_${side}_link"/>
            <child link="feet_${side}_link"/>
            
            <origin xyz="0.15 ${-y_mul*0.0045} 0" rpy="0 ${-pi/2} 0"/>
        </joint>
        
    </xacro:macro>
    
</robot>
    
