<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:macro name="servtransmission" params="joint">
        <transmission name="${joint}_transm">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint}">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint}_motor">
                <hardwareInterface>hardware_interface/VelocityActuatorInterface</hardwareInterface>
            </actuator>
        </transmission>
    </xacro:macro>

</robot>
